 @import './menu-mobile.css';



 /* -------------------- Estilos Globais -------------------- */
 :root {
   --cor-principal: #1A1E29;
   --cor-principal-text: #01C38E;
   --cor-cards: #132D46;
   --cor-second-text: #AAAEBA;
   --cor-principal-subtitles: #FFFFFF;
   --cor-destaque6: ;
   --cor-destaque7: ;

   /*Botões*/
   --btn-color: linear-gradient(to right, var(--cor-destaque1), var(--cor-destaque2));
   --btn-animation: move infinite linear 3s;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: "Inter", sans-serif;
   letter-spacing: 1px;
   position: relative;
   background-image: url("../assets/images/bg-body.jpg");
   background-repeat: repeat-y;
 }

 main {
   width: 85%;
   margin: 0 auto;
 }


 /* -------------------- Estilos para h1, h2, h3, etc. -------------------- */

 a {
   text-decoration: none;
   color: black;
 }

 li {
   list-style-type: none;
 }

 h1 {
   font-size: 2.5rem;
   color: var(--cor-principal-text);
 }

 h2 {
   font-size: 1.5rem;
   color: var(--cor-principal-text);
   font-weight: 500;
   line-height: 1.4rem;
 }

 h3 {
   font-size: 1rem;
   color: rgb(0, 0, 0);
   font-weight: 400;
 }

 h4 {
   font-size: .8rem;
   color: white;
   font-weight: 300;
 }

 p {
   font-size: .9rem;
   color: white;
 }

 span {
   font-size: .6rem;
   flex-grow: 0;
   color: rgba(255, 255, 255, 0.7);
 }


 /* -------------------- Estilos para a barra de navegação (nav)  -------------------- */

 nav {
   padding: 0 7%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: bold;
   height: 80px;
   top: 0;
   left: 0;
   width: 100%;
   transition: 0.3s;
   position: fixed;
   backdrop-filter: blur(60px);
   z-index: 100;
   box-shadow: -10px 5px 10px 5px rgba(0, 0, 0, 0.5);
 }

 nav .header-icon img {
   width: 150px;
   height: 150px;
 }

 nav.fixed {
   box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
 }

 nav ul {
   display: flex;
   justify-content: end;
 }

 nav ul a li {
   list-style: none;
   margin: 10px 30px;
   color: white;
 }

 nav ul a li::after {
   content: "";
   display: block;
   border-bottom: 2px solid var(--cor-principal-text);
   margin-top: 5px;
   transform: scaleX(0);
   transition: transform 0.3s ease;
 }

 nav ul a li:hover::after {
   transform: scaleX(1);
 }

 nav p {
   padding: 10px;
   width: 100%;
 }

 nav p a {
   transition: 0.3s;
   color: white;
   font-size: 1.5rem;
 }

 nav p a:hover {
   color: var(--cor-principal-text);
 }


 /* -------------------- Estilos do Conteúdo Principal -------------------- */

 #home .space {
   height: 90px;
 }

 #home .home-desc {
   border-radius: 7px;
   margin-top: 1.5rem;
   background-image: url("../assets/images/home.jpg");
   background-size: cover;
   height: 450px;
   position: relative;
   z-index: 1;
 }

 #home .home-desc .home-desc-detail {
   width: 35%;
   height: min-content;
   padding-bottom: 5px;
   position: absolute;
   bottom: 0;
   right: 0;
   border-radius: 7px;
   backdrop-filter: blur(50px);
 }

 #home .home-desc .home-desc-detail img {
   padding: 15px 15px 4px 15px;
   margin-bottom: 15px;
   float: right;
   width: 100px;
   border-bottom: 1px solid var(--cor-principal-text);
 }

 #home .home-desc .home-desc-detail .home-desc-detail-text {
   width: 80%;
   margin: 0 auto;
   clear: both;
 }

 #home .home-desc .home-desc-detail .home-desc-detail-text p {
   margin-bottom: 10px;
 }

 #home .home-desc .home-desc-detail .home-desc-detail-text span {
   margin-bottom: 6px;
 }

 #home .home-text {
   margin-top: 3rem;
   width: 70%;
   margin-left: 3rem;
 }

 #home h2 {
   margin-top: 1rem;
   line-height: 1.7rem;
 }


 /* -------------------- Estilos para as seções principais do conteúdo (article, section) -------------------- */

 #cards .space {
   height: 30px;
 }

 #cards .cards-both {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 6rem;
 }

 #cards .cards-both #cards-left {
   width: 80%;
   margin-left: 3rem;
 }

 #cards .cards-both #cards-left .card-content {
   display: flex;
   align-items: center;
 }

 #cards .cards-both #cards-left .card-content p {
   margin-left: 1rem;
   font-size: 1rem;
 }

 #cards .cards-both #cards-left .card-content .card-item {
   width: 330px;
   height: 100px;
   border-radius: 7px;
   margin-bottom: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 900;
   box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.5);
 }

 #cards .cards-both #cards-left .card-content .card-item p {
   font-size: 3rem;
 }

 #cards .cards-both #cards-right {
   width: 100%;
 }

 #cards .cards-both #cards-right .card-content-right {
   height: min-content;
   border-radius: 7px;
   margin-bottom: 1rem;
   padding-bottom: 10px;
   box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.5);
 }

 #cards .cards-both #cards-right .card-content-right img {
   padding: 10px;
   float: right;
   width: 70px;
   height: 70px;
 }

 #cards .cards-both #cards-right .card-content-right .card-content-right-text {
   clear: both;
   width: 80%;
   margin-left: 3rem;
 }

 #cards .cards-both #cards-right .card-content-right .card-content-right-text h3 {
   color: var(--cor-principal-subtitles);
 }

 #cards .cards-both #cards-right .card-content-right .card-content-right-text p {
   margin-top: 1.5rem;
   line-height: 1.3rem;
   color: var(--cor-second-text);
 }


 /*-----Sobre mim-----*/



 #gallery .space {
   height: 70px;
 }

 #gallery>div {
   width: 70%;
   margin-left: 3rem;
 }

 #gallery>div img {
   width: 70px;
   height: auto;
 }

 #gallery>div h2 {
   line-height: 1.7rem;
   margin-top: .7rem;
 }

 #gallery .container {
   display: flex;
   align-items: center;
   margin-top: 3rem;
   width: 96.4%;
 }

 #gallery .container .linha {
   border-bottom: 1px solid #000;
   flex-grow: 2;
   height: 1px;
   margin-left: 10px;
 }

 #gallery .container-img {
   width: 100%;
   margin-top: 2rem;
   margin-left: 0;
 }

 #gallery .container-img .container-img-both {
   display: grid;
   grid-template-columns: 1fr 1.5fr;
   gap: 20px;
   height: min-content;
 }

 #gallery .container-img .container-img-left {
   border-radius: 7px;
   background: linear-gradient(-30deg, #2F333C, #101114, #101114, #2F333C);
   padding: 25px 0;
 }

 #gallery .container-img .container-img-left .container-img-left-content {
   width: 80%;
   margin: 0 auto;
   color: white;
 }

 #gallery .container-img .container-img-left .container-img-left-content p {
   margin-top: 1.5rem;
   font-size: 1rem;
 }

 #gallery .container-img .container-img-left .container-img-left-content span {
   margin-top: 1rem;
   font-size: .8rem;
 }

 #gallery .container-img .container-img-right {
   border-radius: 7px;
   background-image: url("../assets/images/gallery.jpg");
   background-size: cover;
   background-position: center;
 }

 #gallery .container-img .container-img-bottom {
   margin-top: 1rem;
   height: 130px;
   border-radius: 7px;
   background: linear-gradient(-30deg, #101114, #2F333C, #101114);
   display: flex;
   align-items: center;
 }

 #gallery .container-img .container-img-bottom .container-img-bottom-content {
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: 0 auto;
 }

 #gallery .container-img .container-img-bottom .container-img-bottom-content p {
   font-size: 1.3rem;
   width: 70%;
 }

 #gallery .container-img .container-img-bottom .container-img-bottom-content img {
   width: 90px;
 }


 /*-----Experiência-----*/

 #propos {
   margin-left: 3rem;
 }

 #propos .space {
   height: 80px;
 }

 #propos>h2 {
   margin-top: 1.5rem;
   width: 70%;
   line-height: 1.7rem;
 }

 #propos .propos-cards-all {
   width: 60%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 16px;
   margin-top: 3rem;
 }

 #propos .propos-card {
   border-radius: 7px;
   height: 200px;
   box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
 }

 #propos .propos-card:nth-child(3) {
   background-image: url("../assets/images/propos1.jpg");
   background-size: cover;
 }

 #propos .propos-card .propos-card-content {
   width: 80%;
   margin: 0 auto;
   color: white;
 }

 #propos .propos-card p {
   margin-top: 2rem;
 }

 #propos .propos-lines {
   height: min-content;
   width: 40%;
   margin-left: 50%;
   margin-top: 5rem;
   margin-bottom: 2rem;
 }

 #propos .propos-lines .container p {
   flex-grow: 0;
   margin-top: 1rem;
 }

 #propos .propos-lines .container .linha {
   border-bottom: 1px solid #000;
   flex-grow: 2;
   height: 1px;
   margin-left: 10px;
   margin-top: .5rem;
 }


 /*-----Projetos-----*/

 #experience .space {
   height: 60px;
 }

 #experience .container {
   display: flex;
   align-items: center;
 }

 #experience .container span {
   margin: 0 20px;
 }

 #experience .container .linha {
   border-bottom: 1px solid #000;
   flex-grow: 2;
   height: 1px;
 }

 #experience .experience-all-cards .experience-card-content {
   height: min-content;
   padding: 15px 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 16px;
   background: linear-gradient(-30deg, #2F333C, #101114, #2F333C);
   border-radius: 7px;
   margin-bottom: 1rem;
 }

 #experience .experience-all-cards .experience-card-content h4 {
   color: var(--cor-principal-text);
   margin-top: 1rem;
 }

 #experience .experience-all-cards .experience-card-content img {
   width: 70px;
 }

 #experience .experience-all-cards .experience-card-content p {
   margin-top: .4rem;
 }

 #experience .experience-all-cards .experience-card-content-first {
   margin-top: 3.3rem;
 }

 #experience .experience-all-cards .experience-card-content .ecc {
   display: flex;
   flex-direction: column;
 }

 #experience .experience-all-cards .experience-card-content .experience-card-content-left {
   margin-left: 3rem;
 }

 #experience .experience-all-cards .experience-card-content .experience-card-content-left img {
   margin-top: .7rem;
 }

 #experience .experience-all-cards .experience-card-content .experience-card-content-right {
   margin-right: 3rem;
 }


 /*-----Review-----*/
 #review .space {
   height: 90px;
 }

 #review .container {
   display: flex;
   align-items: center;
 }

 #review .container span {
   margin: 0 20px;
 }

 #review .container .linha {
   border-bottom: 1px solid #000;
   flex-grow: 2;
   height: 1px;
 }

 #review h1 {
   text-align: center;
   margin-top: 2rem;
 }

 #review .review-all-cards {
   margin-top: 4rem;
   display: grid;
   gap: 20px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 #review .review-all-cards .review-card {
   border-radius: 7px;
   height: min-content;
   padding-bottom: 15px;
 }

 #review .review-all-cards .review-card .review-card-content {
   width: 90%;
   margin: 15% auto 0 auto;
 }

 #review .review-all-cards .review-card .review-card-content .review-card-content-bottom {
   margin-top: 20%;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 #review .review-all-cards .review-card .review-card-content .review-card-content-bottom h4 {
   width: 70%;
   margin-bottom: 5px;
 }

 #review .review-all-cards .review-card .review-card-content .review-card-content-bottom img {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   object-fit: contain;
 }

 #review .review-all-cards .review-card-top-img {
   background-image: url("../assets/images/review.jpg");
   background-size: cover;
   height: 280px;
 }

 #review .review-all-cards .review-card-bot {
   margin-top: 8rem;
 }

 #review .review-copy {
   display: flex;
   justify-content: space-around;
   margin-top: 5rem;
 }

 #review .review-copy p {
   color: grey;
   font-size: 2rem;
   user-select: none;
 }


 /*-----Contact-----*/

 #contact .space {
   height: 90px;
 }

 #contact .container {
   display: flex;
   align-items: center;
 }

 #contact .container span {
   margin: 0 20px 0 25px;
 }

 #contact .container .linha {
   border-bottom: 1px solid #000;
   flex-grow: 2;
   height: 1px;
 }

 #contact .container-img {
   width: 100%;
   margin-top: 2rem;
   margin-left: 0;
 }

 #contact .container-img .container-img-both {
   display: grid;
   grid-template-columns: 1fr 1.5fr;
   gap: 20px;
   height: min-content;
 }

 #contact .container-img .container-img-left {
   background: linear-gradient(-30deg, #2F333C, #101114, #2F333C);
   border-radius: 7px;
   padding-bottom: 15px;
 }

 #contact .container-img .container-img-left .container-img-left-content {
   width: 80%;
   margin: 0 auto;
   margin-top: 3rem;
 }

 #contact .container-img .container-img-left .container-img-left-content h2 {
   font-size: 2rem;
   line-height: normal;
   font-weight: 500;
 }

 #contact .container-img .container-img-left .container-img-left-content .container-img-left-content-contact .container-img-left-content-contact-form {
   display: flex;
   clear: both;
   margin-top: 3rem;
 }

 #contact .container-img .container-img-left .container-img-left-content .container-img-left-content-contact .container-img-left-content-contact-form h3 {
   margin-left: .5rem;
   color: white;
 }

 #contact .container-img .container-img-left .container-img-left-content .logo-contact {
   float: right;
   width: 100px;
   margin-top: 1rem;
   border-bottom: 1px solid var(--cor-principal-text);
 }

 #contact .container-img .container-img-right {
   border-radius: 7px;
   background-image: url("../assets/images/contact.jpg");
   background-size: cover;
   background-position: bottom;
 }

 #contact .container-img .container-img-bottom {
   margin-top: 1rem;
   height: 160px;
   border-radius: 7px;
   background: linear-gradient(-30deg, #101114, #2F333C, #101114);
   display: flex;
   align-items: center;
 }

 #contact .container-img .container-img-bottom .container-img-bottom-content {
   color: white;
   display: flex;
   justify-content: space-between;
   width: 95%;
   align-items: center;
 }

 #contact .container-img .container-img-bottom .container-img-bottom-content p {
   font-size: 1.3rem;
   width: 60%;
   margin-left: 3rem;
 }

 #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form {
   width: 300px;
 }

 #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form input {
   outline: none;
   background-color: rgb(47, 47, 47);
   border: 0;
   padding: 10px;
   border-radius: 3px;
   width: 300px;
 }

 #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form button {
   padding: 10px;
   margin-top: .8rem;
   width: 130px;
   border-radius: 7px;
   background-color: var(--cor-principal-text);
   cursor: pointer;
 }


 /* -------------------- Estilos para o rodapé (footer) -------------------- */

 footer {
   margin-bottom: 3rem;
   margin-top: 10rem;
 }

 footer div {
   margin-top: 1rem;
 }


 /* -------------------- Media queries para layouts responsivos -------------------- */

 /*-----Tablet / Laptop / Desktop-----*/
 @media screen and (max-width: 1163px) {

   #contact .container-img .container-img-bottom .container-img-bottom-content p,
   #gallery .container-img .container-img-bottom .container-img-bottom-content p {
     font-size: 1.2rem;
   }

   #propos .propos-cards-all {
     width: 85%;
   }
 }

 @media screen and (max-width: 1085px) {

   #contact .container-img .container-img-bottom .container-img-bottom-content p,
   #gallery .container-img .container-img-bottom .container-img-bottom-content p {
     font-size: 1rem;
   }

   #contact .container-img .container-img-left .container-img-left-content .container-img-left-content-contact {
     font-size: .9rem;
     margin-top: 20px;
   }

 }

 /*-----Tablet-----*/
 @media screen and (max-width: 992px) {
   #cards .cards-both #cards-left .card-content .card-item p {
     font-size: 2.5rem;
   }

   #cards .cards-both #cards-left {
     margin-left: 0;
   }

   #cards .cards-both #cards-left .card-content p {
     font-size: .9rem;
   }

   #review .review-all-cards {
     display: flex;
     justify-content: center;
   }

   #review .review-all-cards .review-card-top-img {
     display: none;
   }

   #propos .propos-lines {
     width: 50%;
   }

   #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form,
   #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form input {
     width: 250px;
   }

   #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form,
   #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form {
     align-items: center;
     display: flex;
     flex-direction: column;
     margin-left: 15px;
   }

 }

 @media screen and (max-width: 863px) {
   #gallery .container-img .container-img-bottom .container-img-bottom-content p {
     width: 70%;
     font-size: 1.2rem;
   }

   #gallery>div {
     margin-left: 3rem;
   }

   #contact .container-img .container-img-bottom .container-img-bottom-content p {
     font-size: 1.2rem;
     width: 50%;
   }

   #cards .cards-both {
     display: flex;
     flex-direction: column;
   }

   #cards .cards-both #cards-left {
     margin: 0 auto 1rem auto;
   }

   #cards .cards-both #cards-right .card-content-right {
     height: min-content;
     padding-bottom: 13px;
     border-radius: 7px;
     margin-bottom: 1rem;
   }

   #propos .propos-cards-all {
     width: 90%;
   }

   #experience .experience-all-cards .experience-card-content .experience-card-content-right {
     margin-right: 2rem;

   }

   #contact .container-img .container-img-left .container-img-left-content h2 {
     width: 70%;
     font-size: 1.2rem;
   }

   #contact .container-img .container-img-both,
   #gallery .container-img .container-img-both {
     display: grid;
     grid-template-columns: 1.1fr 1fr;
     gap: 20px;
   }

   #review .review-copy p:nth-child(2) {
     display: none;
   }
 }

 @media screen and (max-width: 765px) {
   #home .home-desc .home-desc-detail {
     width: 45%;
   }

   #experience .experience-all-cards .experience-card-content .experience-card-content-center {
     display: none;
   }

   #experience .experience-all-cards .experience-card-content {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 16px;
   }

   #propos .propos-lines {
     width: max-content;
     margin-left: 30%;
   }

   #review .review-all-cards .review-card .review-card-content .review-card-content-bottom h4 {
     width: 70%;
     font-size: .8rem;
   }

   #contact .container-img .container-img-bottom .container-img-bottom-content p,
   #gallery .container-img .container-img-bottom .container-img-bottom-content p {
     font-size: 1rem;
   }

 }

 /*-----Mobile-----*/
 @media screen and (max-width: 690px) {
   #review .review-all-cards .review-card:nth-child(3) {
     display: none;
   }

   #review .review-all-cards .review-card .review-card-content .review-card-content-bottom {
     margin-top: 1rem;
   }

   #review .review-all-cards .review-card,
   #review .review-all-cards .review-card .review-card-content {
     margin-top: 0;
   }

 }

 @media screen and (max-width: 609px) {

   #cards {
     grid-template-columns: 1fr;
   }

   #propos .propos-cards-all {
     display: grid;
     grid-template-columns: 1fr 1fr;
   }

   #propos .propos-cards-all .propos-card:nth-child(3) {
     display: none;
   }

   #propos .propos-lines {
     margin-left: 20%;
   }

   #gallery .container {
     width: 90%;
   }

   #review .review-copy p:nth-child(3) {
     display: none;
   }

   #contact .container-img .container-img-left .container-img-left-content .logo-contact {
     width: 70px;
   }

   #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form,
   #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form input {
     width: 180px;
   }
 }

 @media screen and (max-width: 537px) {

   #gallery>div h2,
   #propos>h2,
   #home h2 {
     font-size: 1.2rem;
     width: 85%;
     margin-left: 2rem;
   }


   #gallery .container-img .container-img-left .container-img-left-content p {
     font-size: .9rem;
   }

   #gallery .container-img .container-img-left .container-img-left-content span {
     font-size: .7rem;
   }

   #contact .container-img .container-img-left .container-img-left-content .container-img-left-content-contact {
     font-size: .8rem;
   }

   #propos .propos-lines {
     width: 80%;
     margin-left: 20%;
   }

   #experience .experience-all-cards .experience-card-content {
     height: min-content;
     padding-bottom: 10px;
     padding-right: 10px;
   }

   #home .home-desc .home-desc-detail {
     width: 65%;
   }

   #contact .container-img .container-img-both {
     grid-template-columns: 1fr;
   }

   #contact .container-img .container-img-right {
     display: none;
   }

   #contact .container-img .container-img-bottom .container-img-bottom-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     margin: 10px 0;
   }

   #contact .container-img .container-img-bottom {
     height: min-content;
   }

   #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form {
     align-items: center;
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin-top: 10px;
   }

   #contact .container-img .container-img-bottom .container-img-bottom-content p {
     width: 85%;
     margin: 0;
   }
 }

 /*-----Small Mobile-----*/
 @media screen and (max-width: 452px) {

   #review .review-copy p:nth-child(4) {
     display: none;
   }

   #gallery>div {
     width: 80%;
     margin-left: 2rem;
   }

   #gallery .container-img .container-img-right {
     display: none;
   }

   #gallery .container-img .container-img-both {
     grid-template-columns: 1fr;
   }

   #gallery .container-img .container-img-bottom .container-img-bottom-content p {
     font-size: .8rem;
   }

   #propos .propos-cards-all {
     display: flex;
     flex-direction: column;
   }

   #contact .container-img .container-img-left .container-img-left-content {
     width: 80%;
     margin-top: 2rem;
   }

   #experience .experience-all-cards .experience-card-content .ecc {
     margin: 0 15px;
   }
 }

 @media screen and (max-width: 380px) {
   #home .home-text .bg-green {
     width: 100%;
     margin: 0;
   }

   #propos {
     margin-left: 1rem;
   }

   #review .review-all-cards {
     display: flex;
     flex-direction: column;
   }

   #review .review-all-cards .review-card:nth-child(2) {
     border-bottom: 1px solid var(--cor-principal);
   }

   #review .review-all-cards .review-card {
     margin: 0;
   }

   main {
     width: 96%;
     margin: 0 aut;
   }

 }

 /* -------------------- Animações e Transições -------------------- */

 #contact .container-img .container-img-bottom .container-img-bottom-content .contact-form button:hover {
   border-bottom: 2px solid white;
   border-right: 2px solid white;
   background-color: rgb(56, 169, 255);
   color: white;
 }

 @keyframes moveUpDown {
   0% {
     transform: translateY(0);
   }

   100% {
     transform: translateY(20px);
   }
 }

 @keyframes blink {
   0% {
     opacity: 1;
   }

   40% {
     opacity: 1;
   }

   60% {
     opacity: 0;
   }

   100% {
     opacity: 0;
   }
 }

 @keyframes move {
   0% {
     background-position: 0% 50%;
   }

   50% {
     background-position: 100% 50%;
   }

   100% {
     background-position: 0% 50%;
   }
 }

 @keyframes show-right {
   from {
     opacity: 0;
     transform: translate3d(-30px, 0, 0);
   }

   to {
     opacity: 1;
     transform: translate3d(0, 0, 0);
   }
 }

 @keyframes show-down {
   from {
     opacity: 0;
     transform: translate3d(0, -30px, 0);
   }

   to {
     opacity: 1;
     transform: translate3d(0, 0, 0);
   }
 }


 /* -------------------- Outros Estilos -------------------- */

 body::after {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-repeat: repeat-y;
   background-attachment: scroll;
   opacity: .9;
   pointer-events: none;
   filter: grayscale()(90%);
   z-index: -1;
   background-color: var(--cor-principal);
 }

 ::-webkit-scrollbar {
   width: 10px;
   background-color: #1b1b1b;
 }

 ::-webkit-scrollbar-thumb {
   background-color: var(--cor-principal-text);
   border-radius: 5px;
 }

 ::-webkit-scrollbar-thumb:hover {
   background-color: #004130;
 }

 .bg-green::selection {
   background-color: var(--cor-second-text);
   color: #014f11;
   font-weight: 900;
 }

 ::selection {
   background-color: #00bb89;
 }

 .item {
   display: none;
 }

 .mostrar {
   display: block;
 }



 /* "USER1"  Photo by <a href="https://unsplash.com/@linkedinsalesnavigator?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">LinkedIn Sales Solutions</a> on <a href="https://unsplash.com/photos/pAtA8xe_iVM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  */

 /*"USER2" Photo by <a href="https://unsplash.com/@aniitonishvili?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ana Itonishvili</a> on <a href="https://unsplash.com/photos/Fyl8sMC2j2Q?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   */

 /* "USER3" Photo by <a href="https://unsplash.com/@eugabrielsilverio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Gabriel Silvério</a> on <a href="https://unsplash.com/photos/u3WmDyKGsrY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   */